__pycache__
_old
_pside2_tuts
.vscode
build/**/
build/**
config/**
Game_Files/SkillDataEdit/
ToM_Skills_Edit_P
venv
improvements.txt
myPS.env
old code.txt
references.txt
ToM_Skills_Editor.spec
README.txt

# pycache folders
core/__pycache__
gui/__pycache__